<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.gift.mapper.CategoryDAO">
	<resultMap type="Category" id="categoryMap">
		<id property="id" column="id" javaType="java.lang.Integer"></id>
		<result property="p_id" column="p_id" javaType="java.lang.Integer"></result>
		<result property="name" column="name" javaType="java.lang.String"></result>
		<result property="leval" column="leval" javaType="java.lang.Integer"></result>
	</resultMap>
	
	<select id="getMenu" parameterType="java.util.Map" resultMap="categoryMap">
		SELECT * FROM `t_category` WHERE `p_id` = #{p_id}
	</select>
</mapper>