<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.gift.mapper.GiftDAO">
	<resultMap type="Gift" id="giftMap">
		<id property="id" column="id" javaType="java.lang.Integer"></id>
		<result property="collection" column="collection" javaType="java.lang.Integer"></result>
		<result property="comment" column="comment" javaType="java.lang.Integer"></result>
		<result property="name" column="name" javaType="java.lang.String"></result>
		<result property="on_shelf_time" column="on_shelf_time" javaType="java.sql.Timestamp"></result>
		<result property="price" column="price" javaType="java.lang.Double"></result>
		<result property="sale_num" column="sale_num" javaType="java.lang.Integer"></result>
		<result property="stock" column="stock" javaType="java.lang.Integer"></result>
		<result property="category" column="category" javaType="java.lang.Integer"/>
		<result property="if_custom_made" column="if_custom_made" javaType="java.lang.Integer"/>
		<result property="small_img" column="small_img" javaType="java.lang.String"></result>
		<result property="second_img" column="second_img" javaType="java.lang.String"></result>
		<result property="third_img" column="third_img" javaType="java.lang.String"></result>
		<result property="status" column="status" javaType="java.lang.Integer"/>
	</resultMap>
	
	<select id="getAllGiftNew" resultMap="giftMap">
		SELECT * FROM `t_gift` ORDER BY `id` DESC
	</select>
	
	<select id="getAllGiftHot" resultMap="giftMap">
		SELECT * FROM `t_gift` ORDER BY `sale_num` DESC, `comment` DESC, `collection` DESC 
	</select>

	<insert id="insertGift" parameterType="com.soft.gift.model.Gift">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
			select LAST_INSERT_ID()
		</selectKey>
		INSERT INTO `t_gift` (`name`,`collection`,`comment`,`stock`,`price`,`on_shelf_time`,
		`sale_num`,`small_img`,`category`,`if_custom_made`,`second_img`,`third_img`,`status`)
		VALUES (#{name},#{collection},#{comment},#{stock},#{price},#{on_shelf_time},
		#{sale_num},#{small_img},#{category},#{if_custom_made},#{second_img},#{third_img},#{status});
	</insert>

	<delete id="batchDeleteGift">
		DELETE FROM `t_gift` WHERE `id` IN (
			<foreach collection="gift_ids" item="id" separator=",">
				#{id}
			</foreach>
		);
	</delete>

	<select id="getOneCateGiftOrderByTime" resultMap="giftMap">
		SELECT g.* FROM `t_gift` g LEFT JOIN `t_category` c ON g.`category` = c.`id` WHERE c.`p_id` = #{cate}
		ORDER BY g.`on_shelf_time` DESC LIMIT 6
	</select>

	<select id="getOneCateGiftOrderByHot" resultMap="giftMap">
		SELECT g.* FROM `t_gift` g LEFT JOIN `t_category` c ON g.`category` = c.`id` WHERE c.`p_id` = #{cate}
		 ORDER BY g.`sale_num` DESC,g.`comment` DESC, g.`collection` DESC LIMIT 4
	</select>

	<select id="selectByKeyWords" resultMap="giftMap">
		SELECT * FROM `t_gift` g LEFT JOIN `t_gift_info` i ON g.`id` = i.`gift_id`
		LEFT JOIN `t_category` c ON g.`category` = c.`id`
		WHERE CONCAT(g.`name`,i.`brief`,i.`gift_info`,c.`name`) LIKE CONCAT('%', #{keyword}, '%')
		ORDER BY `sale_num` DESC,`comment` DESC,`collection` DESC,`on_shelf_time` DESC
	</select>
	<select id="searchGiftByCateID" resultMap="giftMap">
		SELECT * FROM `t_gift` WHERE `category` = #{cate_id}
		ORDER BY `sale_num` DESC,`comment` DESC,`collection` DESC,`on_shelf_time` DESC
	</select>
	<select id="searchGiftByCateIDOrderBySale" resultMap="giftMap">
		SELECT * FROM `t_gift` WHERE `category` = #{cate_id} ORDER BY `sale_num` DESC
	</select>
	<select id="searchGiftByCateIDOrderByHot" resultMap="giftMap">
		SELECT * FROM `t_gift` WHERE `category` = #{cate_id}
		ORDER BY `sale_num` DESC,`comment` DESC,`collection` DESC
	</select>
	<select id="searchGiftByCateIDOrderByPrice" resultMap="giftMap">
		SELECT * FROM `t_gift` WHERE 1=1
		<if test="min != null">
		AND `price` &gt; #{min}
		</if>
		<if test="max != null">
		AND `price` &lt; #{max}
		</if>
		ORDER BY `sale_num` DESC,
		 `comment` DESC,`collection` DESC,`on_shelf_time` DESC
	</select>
	<select id="searchGiftByLargeCate" resultMap="giftMap">
		SELECT * FROM `t_gift` g LEFT JOIN `t_category` c ON g.`category` = c.`id` WHERE c.`p_id` = #{large_cate}
		ORDER BY `sale_num` DESC,`comment` DESC,`collection` DESC,`on_shelf_time` DESC
	</select>
	<select id="searchGiftByLargeCateOrderBySale" resultMap="giftMap">
		SELECT * FROM `t_gift` g LEFT JOIN `t_category` c ON g.`category` = c.`id` WHERE c.`p_id` = #{large_cate}
		ORDER BY `sale_num` DESC
	</select>
	<select id="searchGiftByLargeCateOrderByHot" resultMap="giftMap">
		SELECT * FROM `t_gift` g LEFT JOIN `t_category` c ON g.`category` = c.`id` WHERE c.`p_id` = #{large_cate}
		ORDER BY `sale_num` DESC,`comment` DESC,`collection` DESC
	</select>
	<select id="searchGiftByLargeCateOrderByPrice" resultMap="giftMap">
		SELECT * FROM `t_gift` g LEFT JOIN `t_category` c ON g.`category` = c.`id`
		WHERE c.`p_id` = #{large_cate}
		<if test="min != null">
			AND g.`price` &gt; #{min}
		</if>
		<if test="max != null">
			AND g.`price` &lt; #{max}
		</if>
		ORDER BY `sale_num` DESC,`comment` DESC,`collection` DESC,`on_shelf_time` DESC
	</select>
</mapper>