<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.gift.mapper.OrderInfoSpecDAO">
	<select id="getSpecsByOrderInfoID" resultMap="com.soft.gift.mapper.SpecDAO.specMap">
		SELECT b.* FROM `t_orderinfo_spec` a LEFT JOIN `t_spec` b ON 
		a.`spec_id` = b.`id` WHERE a.`orderinfo_id` = #{orderinfo_id}
	</select>
</mapper>