@CHARSET "UTF-8";

.mybtn {
    border-radius: 14px;
    text-align: center;
    padding: 5px 15px;
    font-size: 13px;
    display: inline-block;
    cursor: pointer;
}

.myred {
    color: #FFFFF0;
    background-color: #E78170;
    border: solid 1px #E78170;
}

.myred:visited {
    color: #FFFFF0;
    background-color: #E78170;
    border: solid 1px #E78170;
}

.myred:hover {
    color: #FFFFFF;
    border: solid 1px #E78170;
}

.myred:active {
    color: #FFFFFF;
    background-color: #B34129;
    border: solid 1px #B34129;
}

.mywhite {
    color: #555555;
    border: solid 1px #d9d9d9;
}

.mywhite:visited {
    color: #555555;
    border: solid 1px #D9D9D9;
}

.mywhite:hover {
    color: #000000;
    border: solid 1px #D0D0D0;
}

.mywhite:active {
    color: #000000;
    background-color: #eae5e5;
    border: solid 1px #D0D0D0;
}

.mygreen{
    color: #FFFFFF;
    background-color: #33B55F;
    border: solid 1px #33B55F;
}
.mygreen:active{
    color: #FFFFFF;
    background-color: #007F40;
    border: solid 1px #007F40;
}

.myblue{
    color: #FFFFFF;
    background-color: #3fc3ee;
    border: solid 1px #3fc3ee;
}
.myblue:active{
    color: #FFFFFF;
    background-color: #007F40;
    border: solid 1px #007F40;
}
.myinput{
    border: none;
    outline: none;
}

body,a,h1,h2,h3,h4,h5,h6,p,input{
font-family: helvetica, arial, "微软雅黑", "华文黑体";
}
body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #555555;
    overflow-y: scroll;
}
.navout a,.navout a:visited,.navout a:hover,.navout a:active{
    color: #555555;
    text-decoration: none;
}

.container {
    position: relative;
}

.content {
    width: 1210px;
    margin: 0 auto;
    padding-top: 30px;
    position: relative;
    padding-bottom: 60px;
}
.indextitle{
    width: 800px;
    height: 1px;
    background-color: #666;
    color: #666;
    font-size: 22px;
    vertical-align: middle;
    position: relative;
    margin: 20px auto;
}
.indextitle p{
    position: absolute;
    left: 320px;
    top: -16px;
    padding: 0 10px;
    background-color: #f9f9f9;
}

.footdiv{
    position: absolute;
    bottom: 0;
    left: 0;
    height:50px;
    width: 100%;
    font-size: 12px;
    text-align: center;
    color: #ffffff;
    padding-top: 10px;
}
.footdiv p{
    margin-bottom: 5px;
    padding:0;
}
.footdiv a{
    font-size: 12px;
    color: #ffffff;
    text-decoration: none;
}
.footdiv a:visited{
    color: #ffffff;
}
.footdiv a:hover{
color: #ffffff;
}
.footdiv a:active{
color: #ffffff;
}
.redback{
    background: #F84E4E;
    color: #ffffff;
}

.little_input_span{
    width:30px;
    height:30px;
    line-height: 30px;
    border: solid 1px #b7b7b7;
    padding:5px 0;
    border-radius:3px;
}
.clear_float{
    clear:both;
}

.pricespan {
    color: #FF695E;
    font-size: 18px;
    padding-left: 26px;
}

.largebtn {
width: 120px;
height: 40px;
border-radius: 5px;
padding: 8px;
font-size: 16px;
}
ul li{
    list-style:none;
}

.unit_title{
    font-size: 18px;
    border-left: solid 3px #E78170;
    margin: 20px 0;
    padding-left: 5px;
}


.nav_out{
width: 1210px;
margin: 0 auto;
}

.popup_box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1050;
    background: #fff;
    border-radius: 5px;
}
.alert{
    z-index: 10000;
    width: 360px;
    padding: 20px 0;
    text-align: center;
    background-color: #fff;
}
.BeAlert_overlay {
    overflow: hidden;
    position: fixed;
    margin: 0;
    padding: 0;
    z-index: 9999;
    background:url("../img/overlay.png");
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: auto;
    height: auto;
    display: none;
}
.alert_content{
    font-size: 16px;
    margin-top:15px;
}
.alertBtn{
    width: 100px;
    height: 30px;
    line-height:30px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.alert_title{
    margin-top: 10px;
    font-size: 20px;
}
.left_btn{
    margin-right: 20px;
}