<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>礼物上架</title>
    <script type="text/javascript" src="../static/js/jquery-2.1.0.js"></script>
    <script type="text/javascript" src="../static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="../static/js/semantic/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/js/semantic/semantic.min.css">
    <link rel="stylesheet" href="../static/css/main.css" />
    <script type="text/javascript" charset="utf-8" src="../static/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="../static/ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="../static/ueditor/lang/zh-cn/zh-cn.js"></script>

    <style type="text/css">
        .leftmenu {
            display: inline-block;
            vertical-align: top;
        }

        #main_div {
            display: inline-block;
            vertical-align: top;
            margin-left: 70px;
            width: 925px;
            height: 100%;
        }

        .small_title {
            font-size: 16px;
            border-left: solid 3px #E78170;
            padding-left: 5px;
            margin: 15px 0px;
        }
        .btnmargin{
            margin:20px 0px;
            display:block;
            width:220px;
        }
        .borderdiv{
            border:solid 1px #d9d9d9;
            border-radius:5px;
            padding:20px;
        }
    </style>
</head>

<body>
<div class="nav_out">
    <div th:include="nav :: mynav"></div>
</div>

<div class="container">
    <div class="content">
        <div class="leftmenu">
            <div class="ui vertical pointing menu">
                <a class="item active">礼物上架 </a>
                <a class="item">礼物下架 </a>
                <a class="item">礼物修改 </a>
                <a class="item">批量导入 </a>
                <a class="item">批量删除 </a>
                <a class="item">销量查询 </a>
            </div>
        </div>
        <div id="main_div">
            <form id="myform" class="ui form segment dingkuan" role="form">
                <div class="field">
                    <div class="small_title">礼物标题</div>
                    <input type="text" name="title">
                </div>
                <div class="field">
                    <div class="small_title">礼物简介</div>
                    <input type="text" name="brief">
                </div>
                <div class="two fields">
                    <div class="field">
                        <div class="small_title">礼物分类</div>
                        <div class="ui fluid selection dropdown">
                            <input type="hidden" name="category">
                            <div class="default text">礼物分类</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <div th:each="cate:${categories }" class="item firstcate" data-value="${cate.id }" id="${cate.id }" th:text="${cate.name }"></div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="small_title">详细分类</div>
                        <div class="ui fluid selection dropdown">
                            <input type="hidden" name="secondcate">
                            <div class="default text">详细分类</div>
                            <i class="dropdown icon"></i>
                            <div id="secondcate" class="menu">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <div class="small_title">库存</div>
                        <input type="text" name="stock">
                    </div>
                    <div class="field">
                        <div class="small_title">价格</div>
                        <input type="text" name="price">
                    </div>
                </div>
                <div class="small_title">销售属性</div>
                <div class="borderdiv">
                    <div th:each="map:${saleSpecs }" class="field">
                        <label th:text="${map.key }"></label>
                        <div class="inline field">
                            <div th:each="spec:${map.value }" class="ui checkbox">
                                <input type="checkbox" name="${spec.id }">
                                <label th:text="${spec.value }"></label>
                            </div>
                            <!-- <a id="" href="/addColor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;新增分类</a> -->
                        </div>
                    </div>
                    <a href="/addSaleSpec">新增销售属性</a>
                </div>
                <div class="small_title">基本属性</div>
                <div class="borderdiv">
                    <div th:each="map:${baseSpecs }" class="two fields">
                        <div class="field">
                            <label th:text="${map.key }"></label>
                            <label th:text="${map.key }"></label>
                            <div class="ui fluid selection dropdown">
                                <input type="hidden" name="${map.key }"/>
                                <div class="default text">基本属性</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div th:each="spec:${map.value }" class="item" data-value="${spec.id }" th:text="${spec.value}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="/addBaseSpec">新增基本属性</a>
                </div>
                <div class="small_title">商品详情</div>
                <div class="borderdiv">
                    <script id="editor" type="text/plain" style="width: 750px; height: 300px;">
                    </script>
                </div>
                <div class="ui myred  mybtn btnmargin largebtn" id="submitbtn">礼物上架</div>
            </form>
        </div>
    </div>
</div>

</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(function() {
        var ue = UE.getEditor('editor');
        function getContent() {
         var arr = [];
         arr.push("使用editor.getContent()方法可以获得编辑器的内容");
         arr.push("内容为：");
         arr.push(UE.getEditor('editor').getContent());
         alert(arr.join("\n"));
         }

        $('.ui.dropdown').dropdown();
        $('.ui.form').form({
            fields: {
                title: {
                    identifier: 'title',
                    rules: [{
                        type: 'empty',
                        prompt: 'Please enter a gender'
                    }]
                },
                brief: {
                    identifier: 'brief',
                    rules: [{
                        type: 'empty',
                        prompt: 'Please enter a gender'
                    }]
                },
                gender: {
                    identifier: 'category',
                    rules: [{
                        type: 'empty',
                        prompt: 'Please enter a gender'
                    }]
                },
                secondcate: {
                    identifier: 'secondcate',
                    rules: [{
                        type: 'empty',
                        prompt: 'Please enter a gender'
                    }]
                },
                name: {
                    identifier: 'name',
                    rules: [{
                        type: 'empty',
                        prompt: 'Please enter your name'
                    }]
                }
            }
        });

        $(".firstcate").click(function(){
            var id = $(this).attr('id');
            $.ajax({
                url:"/getSecondMenu",
                type:"post",
                data:{
                    id:id
                },
                dataType:"json",
                success:function(data){
                    console.log(data);
                    var len = data.length;
                    for(var i = 0;i < len; i++){
                        console.log(data[i].name);
                        var $dom=$("<div class='item' data-value="+data[i].id+" id="+data[i].id+">"+data[i].name+"</div>")
                        $("#secondcate").append($dom);
                    }
                }
            })
        })

        $("#submitbtn").click(function(){
            var $form = $('form'),
                    allFields = $form.form('get values');
            console.log("allFields",allFields);
            var string = JSON.stringify(allFields);
            console.log("string",string);
            $.ajax({
                url:"/submitGift",
                method:"post",
                data:{
                    string:string
                },
                dataType:"text",
                success:function(data){
                    alert(data);
                }
            })
        })

    })
    /*]]>*/
</script>

</html>