<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../static/css/nav.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/iconfont.css"/>
    <script type="text/javascript" src="../static/js/jquery-2.1.0.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
    <script type="text/javascript" src="../static/js/formsubmit.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/BeAlert.css"/>
    <script type="text/javascript" src="../static/js/BeAlert.js"></script>
</head>
<body>
<div th:fragment="mynav">
    <div class="tools_outer">
        <div class="tools_div">
            <div class="welcome_div">
                欢迎光临礼物说！<span th:if='${session.userInfo != null}' th:text="${session.userInfo.getNickname()}"></span>
            </div>
            <div class="tools_right_div">
                <ul>
                    <li><a href="/login">【登录】</a></li>
                    <li><a href="/login">【注册】</a></li>
                    <li class="selector_li">
                        <div class="tool" id="test"><span class="tool_span">我的礼物说</span></div>
                        <div class="con">
                            <ul>
                                <li><a href="/myOrder">我的订单</a></li>
                                <li><a href="/getShoppingCart">我的购物车</a></li>
                                <li><a href="/myStrategy">我的攻略</a></li>
                                <li><a href="/myCollection">我的收藏</a></li>
                                <li><a href="/myCare">我的定制</a></li>
                                <li><a href="/myCustomMade">我的定制</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="selector_li">
                        <div class="tool"><span class="tool_span">消息盒子</span></div>
                        <div class="con">
                            <ul>
                                <li><a href="/myOrder">私信</a></li>
                                <li><a href="/myOrder">物流消息</a></li>
                                <li><a href="/myOrder">设计师反馈</a></li>
                                <li><a href="/myOrder">评论</a></li>
                                <li><a href="/myOrder">我的赞</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="selector_li">
                        <div class="tool"><span class="tool_span">客服中心</span></div>
                        <div class="con">
                            <ul>
                                <li><a href="/myOrder">联系客服</a></li>
                                <li><a href="/myOrder">投诉</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="nav_header">
        <div class="nav_header_left">
            <div class="nav_logo_div">
                <a href="/index"><img src="../static/img/logo.jpg"/></a>
            </div>
            <div class="nav_input_div">
                <div class="nav_float_left nav_search_img"><img src="../static/img/icon_search.png"/></div>
                <div class="nav_float_left"><input class="nav_my_input" type="text" name="search" id="search" placeholder="搜索礼物、攻略"/></div>
                <div class="nav_float_left nav_search_btn"><label id="search_btn">搜索</label></div>
            </div>
        </div>
        <div class="nav_header_right">
            <div class="icon_div">
                <a href="/getShoppingCart">
                    <i class="icon iconfont icon-iconfontgouwuche"></i>
                    我的购物车
                </a>
            </div>
            <div class="icon_div">
                <a href="/myOrder">
                    <i class="icon iconfont icon-wodedingdan"></i>
                    我的订单
                </a>
            </div>
            <div class="icon_div">
                <a href="/personal">
                    <i class="icon iconfont icon-gerenzhongxin"></i>
                    个人中心
                </a>
            </div>
        </div>
    </div>
    <div class="clear_float"></div>
    <div class="nav_bar">
        <ul>
            <li class="nav_active_li"><a href="/index">礼物商城</a></li>
            <li><a href="/getCustomGift">礼物定制</a></li>
            <li class="strategy_li">
                <a href="/strategy/all">礼物攻略</a>
                <div class="strategy_menu">
                    <div class="menu_title"><i class="icon iconfont icon-gerenzhongxin"></i>赠送对象</div>
                    <ul class="strategy_ul">
                        <li><a href="/strategy/all">自己</a></li>
                        <li><a href="/strategy/all">男票</a></li>
                        <li><a href="/strategy/all">女票</a></li>
                        <li><a href="/strategy/all">闺蜜</a></li>
                        <li><a href="/strategy/all">基友</a></li>
                        <li><a href="/strategy/all">爸爸妈妈</a></li>
                        <li><a href="/strategy/all">小盆友</a></li>
                        <li><a href="/strategy/all">同事</a></li>
                        <li><a href="/strategy/all">领导</a></li>
                    </ul>
                    <div class="menu_title"><i class="icon iconfont icon-location"></i>赠送场合</div>
                    <ul class="strategy_ul">
                        <li><a href="/strategy/all">新年</a></li>
                        <li><a href="/strategy/all">生日</a></li>
                        <li><a href="/strategy/all">纪念日</a></li>
                        <li><a href="/strategy/all">结婚</a></li>
                        <li><a href="/strategy/all">感谢</a></li>
                        <li><a href="/strategy/all">情人节</a></li>
                        <li><a href="/strategy/all">乔迁</a></li>
                        <li><a href="/strategy/all">圣诞节</a></li>
                    </ul>
                    <div class="menu_title"><i class="icon iconfont icon-xiaomeijigexing"></i>Ta的个性</div>
                    <ul class="strategy_ul">
                        <li><a href="/strategy/all">美物</a></li>
                        <li><a href="/strategy/all">手工</a></li>
                        <li><a href="/strategy/all">吃货</a></li>
                        <li><a href="/strategy/all">萌萌哒</a></li>
                        <li><a href="/strategy/all">动漫迷</a></li>
                        <li><a href="/strategy/all">小清新</a></li>
                        <li><a href="/strategy/all">科技范</a></li>

                    </ul>
                </div>
            </li>
            <li><a href="/strategy/addStrategy">写攻略</a></li>
        </ul>
    </div>
    <div class="nav_bar fixed_nav_bar">
        <ul>
            <li class="nav_active_li"><a href="/index">礼物商城</a></li>
            <li><a href="/getCustomGift">礼物定制</a></li>
            <li class="strategy_li">
                <a href="/strategy/all">礼物攻略</a>
                <div class="strategy_menu">
                    <div class="menu_title"><i class="icon iconfont icon-gerenzhongxin"></i>赠送对象</div>
                    <ul class="strategy_ul">
                        <li><a href="/strategy/all">自己</a></li>
                        <li><a href="/strategy/all">男票</a></li>
                        <li><a href="/strategy/all">女票</a></li>
                        <li><a href="/strategy/all">闺蜜</a></li>
                        <li><a href="/strategy/all">基友</a></li>
                        <li><a href="/strategy/all">爸爸妈妈</a></li>
                        <li><a href="/strategy/all">小盆友</a></li>
                        <li><a href="/strategy/all">同事</a></li>
                        <li><a href="/strategy/all">领导</a></li>
                    </ul>
                    <div class="menu_title"><i class="icon iconfont icon-location"></i>赠送场合</div>
                    <ul class="strategy_ul">
                        <li><a href="/strategy/all">新年</a></li>
                        <li><a href="/strategy/all">生日</a></li>
                        <li><a href="/strategy/all">纪念日</a></li>
                        <li><a href="/strategy/all">结婚</a></li>
                        <li><a href="/strategy/all">感谢</a></li>
                        <li><a href="/strategy/all">情人节</a></li>
                        <li><a href="/strategy/all">乔迁</a></li>
                        <li><a href="/strategy/all">圣诞节</a></li>
                    </ul>
                    <div class="menu_title"><i class="icon iconfont icon-xiaomeijigexing"></i>Ta的个性</div>
                    <ul class="strategy_ul">
                        <li><a href="/strategy/all">美物</a></li>
                        <li><a href="/strategy/all">手工</a></li>
                        <li><a href="/strategy/all">吃货</a></li>
                        <li><a href="/strategy/all">萌萌哒</a></li>
                        <li><a href="/strategy/all">动漫迷</a></li>
                        <li><a href="/strategy/all">小清新</a></li>
                        <li><a href="/strategy/all">科技范</a></li>

                    </ul>
                </div>
            </li>
            <li><a href="/strategy/addStrategy">写攻略</a></li>
        </ul>
        <div class="white_input_div">
            <div class="white_input_outer"><input type="text" placeholder="搜索礼物/攻略" id="white_input"/></div>
            <div class="white_img_outer"><img class="search_img_white" src="../static/img/icon_search.png"/></div>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(function () {
        $('.strategy_li').hover(function(){
            $(this).find('.strategy_menu').css('display','block');
        },function(){
            $(this).find('.strategy_menu').css('display','none');
        });
        $(".selector_li").hover(function(){
            $(this).children('.con').css('display','block');
            $(this).addClass('li_border');
        },function(){
            $(this).children('.con').css('display','none');
            $(this).removeClass('li_border');
        })

        var $window = $(window);
        var $div_anchor = $('.container');
        var $nav_bar = $('.nav_bar');
        var $fixed_nav_bar = $('.fixed_nav_bar');
        $window.scroll(function() {
            //scrollTop()方法返回或设置匹配元素的滚动条的垂直位置
            var window_top = $window.scrollTop();
            //javascript用offsetTop();jquery用offset().top;
            var div_top = $div_anchor.offset().top;
            if(window_top > div_top) {
                $nav_bar.css('display', 'none');
                $fixed_nav_bar.css('display', 'block');
            } else {
                $nav_bar.css('display', 'block');
                $fixed_nav_bar.css('display', 'none');
            }
        });

        $("#search_btn").click(function () {
            var keyword = $("#search").val();
            if(!(keyword==null||keyword == "")){
                var url = "/search/Keyword";
                var obj = {
                    name:"keyword",
                    value:keyword
                };
                formSubmit(url,obj);
            }
        })

        $('.white_img_outer').click(function () {
            var keyword = $("#white_input").val();
            if(!(keyword==null||keyword == "")){
                var url = "/search/Keyword";
                var obj = {
                    name:"keyword",
                    value:keyword
                };
                formSubmit(url,obj);
            }
        })

    })
    /*]]>*/
</script>
</html>