<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>我的购物车</title>
    <link rel="stylesheet" type="text/css" href="../static/js/semantic/semantic.min.css" />
    <script type="text/javascript" src="../static/js/jquery-2.1.0.js"></script>
    <script type="text/javascript" src="../static/js/semantic/semantic.min.js"></script>
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/nav.css" />
    <title>订单提交成功</title>
    <style>
        #success{
            text-align:center;
            vertical:middle;
            width:1366px;
            height:500px;
            padding-top:50px;
        }
    </style>
</head>
<body>
<div id="success">
    <img src="../static/img/success.png"/>
    <h1>订单提交成功，请尽快前往付款</h1>
    <h3>您现在可以</h3>
    <a href="/index">返回商城继续购物</a>
    <a href="/myOrder">前往付款</a>
</div>
</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    /*]]>*/
</script>
</html>