<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>我的购物车</title>
    <link rel="stylesheet" type="text/css" href="../static/js/semantic/semantic.min.css" />
    <script type="text/javascript" src="../static/js/jquery-2.1.0.js"></script>
    <script type="text/javascript" src="../static/js/semantic/semantic.min.js"></script>
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/nav.css" />
    <title>个人中心</title>
</head>
<body>
<div class="container">
    <div class="nav_out">
        <div th:include="nav :: mynav"></div>
    </div>
</div>

</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    /*]]>*/
</script>
</html>