<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>礼物攻略</title>
    <script type="text/javascript" src="../static/js/jquery-2.1.0.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/nav.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/strategy.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/iconfont.css" />
    <style>
        body{
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
        }
        .black_a{
            color: #555;
        }
        .selected_a{
            color: #E32F2F;
        }
    </style>
</head>
<body>
<div th:include="nav :: mynav"></div>
<div class="container">
    <div class="content">
        <div class="stra_top_menu">
            <div class="stra_yihang">
                <div class="menu_title top_title"><i class="icon iconfont icon-gerenzhongxin"></i>赠送对象：</div>
                <ul class="stra_top_ul" id="relationship_ul">
                    <li>
                        <a href="javascript:void(0);" class="selected_a">全部</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">自己</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">男票</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">女票</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">闺蜜</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">基友</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">爸爸妈妈</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">小盆友</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">同事</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">领导</a>
                    </li>
                </ul>
            </div>
            <div class="stra_yihang">
                <div class="menu_title top_title"><i class="icon iconfont icon-location"></i>赠送场合：</div>
                <ul class=" stra_top_ul" id="occasion_ul">
                    <li>
                        <a href="javascript:void(0);" class="selected_a">全部</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">新年</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">生日</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">纪念日</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">结婚</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">感谢</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">情人节</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">乔迁</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">圣诞节</a>
                    </li>
                </ul>
            </div>
            <div class="stra_yihang">
                <div class="menu_title top_title"><i class="icon iconfont icon-xiaomeijigexing"></i>Ta的个性：</div>
                <ul class="stra_top_ul" id="style_ul">
                    <li>
                        <a href="javascript:void(0);" class="selected_a">全部</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">美物</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">手工</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">吃货</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">萌萌哒</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">动漫迷</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">小清新</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">科技范</a>
                    </li>

                </ul>
            </div>
        </div>
        <div id="maincontent">
            <div class="unit_title">
                最新攻略
            </div>
            <ul class="strategyul">
                <li th:each="strategy:${latestStras }">
                    <a th:href="@{'/strategy/strategyInfo?id='+${strategy.id }}">
                        <div class="strategy_div">
                            <div class="top_img_div"><img th:src="@{${strategy.top_img}}" /></div>
                            <div class="tag_new_div"></div>
                            <div class="strategy_title" th:text="${strategy.title}"></div>
                            <div class="strategy_content" th:text="${strategy.brief}"></div>
                            <div class="strategy_popularity">
                                <i class="icon iconfont icon-dianzan"></i><span th:text="${strategy.like }"></span> 赞
                                <i class="icon iconfont icon-pinglun4"></i><span th:text="${strategy.comment }"></span>评价
                                <i class="icon iconfont icon-shoucang1"></i><span th:text="${strategy.collect }"></span>收藏
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="clear_float"></div>
            <div class="unit_title">
                最热攻略
            </div>
            <ul class="strategyul">
                <li th:each="strategy:${hotestStras }">
                    <a th:href="@{'/strategy/strategyInfo?id='+${strategy.id }}">
                        <div class="strategy_div">
                            <img th:src="@{${strategy.top_img}}" />
                            <div class="strategy_title" th:text="${strategy.title}"></div>
                            <div class="strategy_content" th:text="${strategy.brief}"></div>
                            <div class="strategy_popularity">
                                <i class="icon iconfont icon-dianzan"></i><span th:text="${strategy.like }"></span> 赞
                                <i class="icon iconfont icon-pinglun4"></i><span th:text="${strategy.comment }"></span>评价
                                <i class="icon iconfont icon-shoucang1"></i><span th:text="${strategy.collect }"></span>收藏
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="clear_float"></div>
        </div>

    </div>
    <div class="footdiv redback">
        <p>© 2014 - 2016 Liwushuo.com 北京礼品说科技有限公司 电信与信息服务业务经营许可证150653号 京ICP备15031023号-1</p>
        <p><a href="javascript:void(0);">首页</a>&nbsp;|&nbsp;<a href="javascript:void(0);">关于我们</a>&nbsp;|&nbsp;电话：010-57510218</p>
    </div>
</div>
</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    $('.strategy_div').hover(function() {
        $(this).animate({
            top: '-3px'
        }, "slow");
        $(this).addClass('div_hover');
    }, function() {
        $(this).animate({
            top: '3px'
        }, "fast");
        $(this).removeClass('div_hover');
    });
    /*$('.stra_top_ul li a').hover(function(){
     $(this).css('color','#000000');
     },function(){
     $(this).css('color','#555555');
     });*/
    $('.stra_top_ul li a').addClass('black_a');
    $('.stra_top_ul li a').click(function(){
        $(this).parents('.stra_top_ul').find('a').each(function(){
            console.log($(this));
            $(this).removeClass('selected_a');
        });
        console.log("wai",$(this));
        $(this).addClass('selected_a');
        var relationship = $('#relationship_ul li .selected_a').text();
        var occasion = $('#occasion_ul li .selected_a').text();
        var style = $('#style_ul li .selected_a').text();

        if(relationship == "全部"){
            relationship = null;
        }
        if(occasion == "全部"){
            occasion = null;
        }
        if(style == "全部"){
            style = null;
        }
        console.log(relationship);
        console.log(occasion);
        console.log(style);
        $.ajax({
            url: "/strategy/strategies",
            data:{
                style:style,
                occasion:occasion,
                relationship:relationship
            },
            type:"post",
            dataType:"json",
            success:function(data) {
                console.log(data);
                console.log(data.length);
                var $ul = $("<ul class='strategyul'></ul>");
                var strategy = data;
                if(data.length != 0){
                    for(var i in strategy){
                        console.log(strategy[i]);
                        var $li = $('<li><a href="/strategy/strategyInfo?id='+strategy[i].id+'">'+
                                '<div class="strategy_div">' +
                                '<div class="top_img_div"><img src='+strategy[i].top_img+'/></div>' +
                                '<div class="tag_new_div"></div>' +
                                '<div class="strategy_title">'+strategy[i].title+'</div>' +
                                '<div class="strategy_content">'+strategy[i].brief+'</div>' +
                                '<div class="strategy_popularity">' +
                                '<i class="icon iconfont icon-dianzan"></i><span>'+strategy[i].like+'</span> 赞' +
                                '<i class="icon iconfont icon-pinglun4"></i><span>'+strategy[i].comment+'</span> 评价' +
                                '<i class="icon iconfont icon-shoucang1"></i><span>'+strategy[i].collect+'</span> 收藏'+
                                '</div></div></a></li>');
                        $ul.append($li);
                    }
                    var $title = $('<div class="unit_title">精选攻略</div>');
                    $("#maincontent").html($title);
                    $("#maincontent").append($ul);
                    var $clear = $("<div class='clear_float'></div>");
                    $("#maincontent").append($clear);
                }
                else{
                    var $dom = $('<div class="blank-holder"><i></i><p>没有搜到任何攻略哦~</p></div>');
                    $("#maincontent").html($dom);
                }
            },
            error:function (data) {
                console.log(data);
                console.log("12345");
            }
        });
        console.log("123");
        return false;
    });
    /*]]>*/
</script>
</html>